<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title>CLC</title>
    <meta name="robots" content="noindex"/>

    <script type="text/javascript" src="/_static/jquery-1.11.3.min.js"></script>

    <link rel="stylesheet" href="/_static/jquery-ui-1.11.4.custom/jquery-ui.min.css"/>
    <link rel="stylesheet" href="/_static/jquery-ui-1.11.4.custom/jquery-ui.structure.min.css"/>
    <link rel="stylesheet" href="/_static/jquery-ui-1.11.4.custom/jquery-ui.theme.min.css"/>

    <script type="text/javascript" src="/_static/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
</head>
<body>
CLC
</body>
</html>