<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title>CLC</title>
    <meta name="robots" content="noindex"/>

    <script type="text/javascript" src="/_static/js/jquery-1.11.3.min.js"></script>

    <link rel="stylesheet" href="/_static/css/reset.css">
    <link rel="stylesheet" href="/_static/css/common.css">

    {% block js_vars %}{% endblock %}

</head>
<body>

<div id="wrapper-layer-toolbar">
    <ul>
        <li>
            <a href="/">Main</a>
        </li>
        <li>
            <a href="/import">Import</a>
        </li>
    </ul>
</div>

<div id="wrapper-layer-content">
    {% block content %}{% endblock %}
</div>


</body>
</html>